@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
}

h1,
section {
    max-width: 1600px;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding-inline: 1rem;

    @include flexColumn();
    align-items: center;

    h1 {
        text-align: center;
        padding: 1rem;
    }

    .clickBase {
        width: 100%;
        @include flexColumn();
        gap: 1rem;

        >div {
            width: 100%;
            padding: 1rem;
            background-color: antiquewhite;
            border-radius: 1rem;
        }

        .btn-click,
        .btn-dblClick {
            width: fit-content;
            margin-block: 1rem;
            background-color: white;
            padding: .5rem;
            border-radius: .5rem;
            user-select: none;
            cursor: pointer;
        }

    }

    .change-keydown {
        margin-top: 1rem;
        width: 100%;
        @include flexColumn();
        gap: 1rem;

        >div {
            width: 100%;
            padding: 1rem;
            background-color: antiquewhite;
            border-radius: 1rem;
        }

        #change-eve {
            margin-block: 1rem;
        }

        .para-key {
            margin-block: 1rem;

            span {
                font-size: 2rem;
            }
        }
    }

    .input-mouseover {
        margin-top: 1rem;
        width: 100%;
        @include flexColumn();
        gap: 1rem;

        >div {
            width: 100%;
            padding: 1rem;
            background-color: antiquewhite;
            border-radius: 1rem;
        }

        .inp {
            margin-block: 1rem;
        }

        .box {
            margin-block: 1rem;
            padding: 1rem;
            width: fit-content;
            background-color: white;
        }
    }
}

@media (min-width: 750px) {
    main {
        .clickBase, .change-keydown, .input-mouseover {
            flex-direction: row;
            > div {
                width: 50%;
            }
        }
    }
}